In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('transformed_housing_data2')

# Splitting

In [3]:
Y = data.iloc[:,0]

In [4]:
X = data.iloc[:,1:31]

In [5]:
X.head()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Ever_Renovated_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,63,...,0,0,0,0,0,0,0,0,0,0
1,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,67,...,1,0,1,0,0,0,0,0,0,0
2,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,85,...,0,0,1,0,0,0,0,0,0,0
3,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,53,...,0,0,0,1,0,0,0,0,0,0
4,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,31,...,0,0,0,0,1,0,0,0,0,0

In [6]:
from sklearn.model_selection import train_test_split as tts

In [7]:
X_train, X_test, Y_train, Y_test = tts(X, Y, test_size = 0.3)

In [8]:
X_train.shape

(15126, 30)

In [9]:
Y_test.shape

(6483,)

# Scaling using Standardisation

In [10]:
from sklearn import preprocessing
scale = preprocessing.StandardScaler()

In [11]:
X_train = scale.fit_transform(X_train)

In [12]:
X_train

array([[ 1.73671168,  1.798507  ,  1.82457093, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [-1.47223423, -1.45718262, -1.03193835, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [-0.40258559, -0.48047573, -0.57227019, ..., -0.11218446,
        -0.16775069, -0.04815873],
       ...,
       [ 2.80636032,  1.14736908,  1.61662581, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [ 0.66706304, -0.15490677, -0.32054715, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [ 0.66706304,  0.82180011,  2.40462836, ..., -0.11218446,
         5.96122738, -0.04815873]])

In [13]:
X_test = scale.transform(X_test)

In [14]:
X_test

array([[ 1.73671168,  1.14736908,  0.97090149, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [ 0.66706304,  1.798507  ,  4.10102276, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [ 0.66706304, -0.48047573, -0.12354651, ..., -0.11218446,
        -0.16775069, -0.04815873],
       ...,
       [-0.40258559, -1.45718262, -1.10854971, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [ 0.66706304,  1.14736908,  0.81767877, ..., -0.11218446,
        -0.16775069, -0.04815873],
       [ 0.66706304,  0.49623115, -0.05787963, ..., -0.11218446,
        -0.16775069, -0.04815873]])